.loginForm {
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    padding: 30px 20px;
}
.inputField {
    margin-bottom: 20px;
}
.inputField span {
    display: block;
    margin: 2px 0 0 5px;
    color: #700;
}
.common__error {
    display: block;
    margin: 2px 0 0 5px;
    color: #700;
}
.input {
    width: 100%;
    height: 40px;
    padding: 2px 10px;
    border-radius: 3px;
    border: 1px solid #b2b2b2;
    outline: none;
    /*color: #7e7e7e;*/
    color: #000000;
    font-size: 16px;
}
.checkbox {
    margin: 0px 3px 0 3px;
}
.btns__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login__btn {
    width: 80px;
    height: 32px;
    text-align: center;
    background-color: #e44d3a;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    color: #ffffff;
    margin-top: 14px;
}
.login__btn[disabled] {
    background-color: rgba(228, 77, 58, 0.75);
}
.clear__btn {
    width: 80px;
    height: 32px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 400;
    color: #000000;
    margin-top: 14px;
    border: #b2b2b2;
    background-color: #f2f2f2;
    color: #000000;
}
.clear__btn[disabled] {
    color: #b3b3b3;
}